---
import NavItemGroup from '../components/NavItemGroup.astro';
import NavItemBadge from './NavItemBadge.astro';
const { item } = Astro.props;

function isCurrentUrl(linkUrl: string): boolean {
	return Astro.url.pathname === linkUrl;
}
---

{
	item.items ? (
		<NavItemGroup item={item} />
	) : (
		<div class={`hover:bg-pink-300 ${isCurrentUrl(item.link) && 'font-bold'}`}>
			<a href={item.link}>{item.label}</a>
			{item.badge && <NavItemBadge badge={item.badge} />}
		</div>
	)
}
