---
import {getSidebarFromCollectionIdentifier} from '../helpers/utils'
import Sidebar  from "../components/Sidebar.astro"
interface Props {
	title: string;
	collection: string
}
const { title } = Astro.props;

const items = await getSidebarFromCollectionIdentifier('tutorial')
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<div class="container mx-auto flex h-screen">
			<div class="flex w-48 flex-col bg-slate-100"><Sidebar items={items} /></div>
			<div class=" flex-1 bg-lime-100 prose"><slot /></div>
	</body>
</html>
